.button {
  display: block;
  box-sizing: border-box;
  padding: 21px 0;
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  color: #ffffff;
  text-align: center;
  border: 3px solid #ffffff;
  border-radius: 29px;
}
