.introduction {
  position: relative;
  margin-top: -66px;
  padding-top: 95px;
  color: #ffffff;
  background-color: #1d2631;
  background-image: url("../img/back-mobile.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;

  &--index {
    background-size: contain;
  }
}

.introduction__wrapper {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 38px;
}

.introduction__title {
  margin: 0;
  padding-bottom: 51px;
  font-size: 24px;
  line-height: 33px;
  font-weight: 300;
}

.introduction__title-wrapper {
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
}

.introduction__slogan {
  position: relative;
  margin: 0;
  padding-bottom: 315px;
  font-size: 24px;
  line-height: 29px;
  font-weight: 300;
  text-align: center;

  &::before {
    position: absolute;
    content: "";
    width: 320px;
    height: 286px;
    background-image: url("../img/phone.png");
    background-repeat: no-repeat;
    background-size: contain;
    bottom: 7px;
    left: -20px;
  }

  &::after {
    position: absolute;
    content: "";
    width: 111px;
    height: 197px;
    background-image: url("../img/screen.png");
    background-repeat: no-repeat;
    background-size: contain;
    bottom: 64px;
    left: 84px;
  }
}

.introduction__download {
  margin: 0 auto;
  margin-top: 28px;
}

.introduction__list {
  margin-top: 32px;
}

.introduction__text {
  margin: 0;
  margin-top: 28px;
  font-weight: 300;
  text-align: center;
}
