.main-navigation {
  font-size: 18px;
  line-height: 32px;
  font-weight: 700;
  color: #ffffff;
  background-color: #283645;
}

.main-navigation__list {
  @include list-reset;
}

.main-navigation__item {
  text-align: center;
}

.main-navigation__link {
  color: #ffffff;
}
