.succsess {
  background-color: #f2f2f2;
  border-radius: 1px;
}

.succsess__text-wrapper {
  padding: 44px 20px 52px;
  background-color: #ffffff;
}


.succsess__title {
  margin: 0;
  margin-bottom: 37px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
}

.succsess__message {
  margin: 0;
  text-align: center;
}

.succsess__button-wrapper {
  padding: 52px 22px;
}

.succsess__button {
  width: 100%;
  margin: 0 auto;
}
